<h1>Meu perfil</h1>
<div>
  <% if @profile.nil? %>
    <h3>Nenhum perfil cadastrado</h3><br>
    <h3>Para comprar ou vender produtos é necessario completar o cadastro</h3>
    <%= link_to 'Completar cadastro', new_profile_path %>
  <% else %>
    <p>Empresa: <%= @profile.company.name %></p>
    <p>Usuário cadastrado: <%= link_to @profile.name, profile_path(@profile) %></p>
    <p>E-mail: <%= current_user.email %> </p>
    <h3 style="color:red ">Agora você já pode cadastrar seus produtos para realizar suas vendas ou inciar uma compra</h3>
  <% end %>
</div><br>
<%= link_to 'Voltar', root_path %>