<h1>Dados do perfil</h1>

<dl>
  <dt><%= Profile.human_attribute_name(:name) %></dt>
  <dd><%= @profile.name %></dd>
  <dt><%= Profile.human_attribute_name(:date_of_birth) %>
  <dd><%= l @profile.date_of_birth %></dd>
  <dt><%= Profile.human_attribute_name(:department) %></dt>
  <dd><%= @profile.department %></dd>
  <dt><%= Profile.human_attribute_name(:role) %></dt>
  <dd><%= @profile.role %></dd>
  <dt><%= Profile.human_attribute_name(:cpf) %></dt>
  <dd><%= @profile.cpf %></dd>
  <dt><%= Profile.human_attribute_name(:email) %></dt>
  <dd><%= @profile.user.email %></dd>
  <dt><%= Profile.human_attribute_name(:company) %></dt>
  <dd><%= @profile.company.name %></dd>
</dl>

<%= link_to 'Voltar', profiles_path %>|<%= link_to 'Editar dados', edit_profile_path(@profile) %>