<h1>Loja</h1>

<div>
  <p>Digite um nome ou categoria do produto</p>
  <%= form_with url: search_products_path, method: :get, local:true do|f| %>
    <%= f.label :q, 'Pesquisar produtos' %>
    <%= f.text_field :q %>
    <%= f.submit 'Pesquisar' %>
  <% end %>
</div>


<div>
  <% if @products.enable.present? %>
  <p>Produtos anunciados</p>
    <% @products.enable.each do |product| %>
      <dl>
        <dt><%= Product.human_attribute_name(:category) %></dt>
        <dd><%= product.category %></dd>
        <dt><%= Product.human_attribute_name(:name) %></dt>
        <dd><%= link_to product.name, product_path(product) %></dd>
        <dt><%= Product.human_attribute_name(:price) %></dt>
        <dd><%= product.category %></dd>
    </dl>
    <% end %>
  <% end %>
</div>

<footer> <%= link_to 'Voltar', root_path %> </footer>