<h1>Loja</h1>

<div>
  <% if @profile.nil? %>
    <h3>Para comprar ou vender produtos é necessario completar o cadastro</h3>
    <%= link_to 'Completar cadastro', new_profile_path %>

  <% else %>
  <%= link_to 'Anunciar produtos', new_product_path %>
  <% end %>
</div>

<div>
  <p>Digite um nome ou categoria do produto</p>
  <%= form_with url: search_products_path, method: :get, local:true do|f| %>
    <%= f.label :q, 'Pesquisar produtos' %>
    <%= f.text_field :q %>
    <%= f.submit 'Pesquisar' %>
  <% end %>
</div>

<nav>
  <% if @products_profile.present? %>
  <p>Meus produtos cadastrados</p>
    <% @products_profile.each do |product_profile| %>
      <%= link_to product_profile.name, product_path(product_profile) %> ||
    <% end %>
  <% end %>
</nav>

<div>
  <% if @products.present? %>
  <p>Produtos anunciados</p>
    <% @products.each do |product| %>
      <%= link_to product.name, product_path(product) %> ||
    <% end %>
  <% end %>
</div>

<footer> <%= link_to 'Voltar', root_path %> </footer>