<div>
  <% if @profile.nil? %>
    <h3>Para comprar ou vender produtos é necessario completar o cadastro</h3>
    <%= link_to 'Completar cadastro', new_profile_path %>
  <% else %>
  <%= link_to 'Anunciar produtos', new_product_path %>
  <% end %>
</div>

<nav>
  <% if @products_enable.present? %>
  <p>Produtos disponiveis para venda</p>
    <% @products_enable.each do |product| %>
    <dl>
      <dt><%= Product.human_attribute_name(:category) %></dt>
      <dd><%= product.category %></dd>
      <dt><%= Product.human_attribute_name(:name) %> </dt>
      <dd><%= link_to product.name, product_path(product) %></dd>
      <dt><%= Product.human_attribute_name(:price) %></dt>
      <dd><%= product.price %></dd>
    </dl>
    <% end %>
  <% end %>
</nav>

<nav>
  <% if @products_disable.present? %>
    <h2>Aguardando confirmação de venda</h2>
    <% @products_disable.each do |product_waiting| %>
    <dl>
      <dt>Comprador</dt>
      <dd><%= product_waiting.order.profile.name %>  </dd>
      <dt><%= Product.human_attribute_name(:name) %></dt>
      <dd><%= product_waiting.name %></dd>
    </dl>
      <%= link_to 'Ver detalhes', product_order_path(product_waiting, product_waiting.order) %>
    <% end %>
  <% end %>
</nav>

<%= link_to 'Voltar', root_path %>
