<div>
  <% if @profile.nil? %>
    <h3>Para comprar ou vender produtos é necessario completar o cadastro</h3>
    <%= link_to 'Completar cadastro', new_profile_path %>
  <% else %>
  <%= link_to 'Anunciar produtos', new_product_path %>
  <% end %>
</div>

<nav>
  <% if @products_profile.present? %>
  <p>Meus produtos cadastrados</p>
    <% @products_profile.each do |product_profile| %>
      <%= link_to product_profile.name, product_path(product_profile) %> ||
    <% end %>
  <% end %>
</nav>

<nav>
  <% if @products_profile.waiting %>
    <h2>Aguardando confirmação de venda</h2>
    <% @products_profile.waiting.each do |product_waiting| %>
    <dl>
      <dt>Comprador</dt>
      <dd><%= product_waiting.order.profile.name %>  </dd>
      <dt><%= Product.human_attribute_name(:name) %></dt>
      <dd><%= product_waiting.name %></dd>
    </dl>
      <%= link_to 'Ver detalhes', product_order_path(product_waiting, product_waiting.order) %>
    <% end %>
  <% end %>
</nav>

<%= link_to 'Voltar', root_path %>
