<h1>Detalhes do produto</h1>

<div>
  <dl>
  <dt><%= Product.human_attribute_name(:category) %></dt>
  <dd><%= @product.category %></dd>
  <dt><%= Product.human_attribute_name(:name) %></dt>
  <dd><%= @product.name %></dd>
  <dt><%= Product.human_attribute_name(:description) %></dt>
  <dd><%= @product.description %></dd>
  <dt><%= Product.human_attribute_name(:price) %></dt>
  <dd><%= number_to_currency @product.price %></dd>
  <dt>Vendedor</dt>
  <dd><%= @product.profile.name %></dd>
  </dl>
</div>


<div id="comment-product">
  <% @product.comments.each do |comment|%>
    <div class="ac_box_top">
      <div class="ac_box_cont">
        <p>Autor:<%= comment.profile.name %></p>
        <p>Pergunta:  <%= comment.body %></p>
        <% comment.answers.each do |answear| %><br>
          <p>Vendedor: <%= @product.profile.name %></p>
          <p>Resposta: <%= answear.body %></p>
        <% end %>
        <div>
          <% if @product.profile_id == current_user.profile.id  %>
            <%= render partial: 'answers/form', locals:{comment:comment} %>
          <% end %>
        </div>  
      </div>
    </div>
  <% end %>
</div>
<% if current_user.profile.present? %>
  <%= render partial: 'comments/form', locals:{product: @product}%>
<% else %>
  <h3>Para deixar comentarios é necessario completar seu cadastro</h3>
<% end %>

<%= link_to 'Voltar', products_path %>|| <%= link_to 'Editar anuncio', edit_product_path(@product) if current_user.id == @product.profile_id %>



 