<h2>Confira os detalhes do produto</h2>

<% if @order.product.profile.user_id == current_user.id && @order.waiting? %>
  <%= link_to 'Confirmar venda', accept_order_path(@order), method: :post %>
  <%= link_to 'Cancelar venda', decline_order_path(@order), method: :post %>
<% end %>
<% if @order.waiting? %>
  <h2>Aguardando confirmação do vendedor</h2>
<% end %>

<% if @order.accept?%>
    <h2>Essa venda foi finalizada</h2>
<% end %>
<% if @order.decline? %>
  <h2>Essa venda foi cancelada pelo vendedor</h2>
<% end %>

<h3>Dados do vendedor</h3>
<div>
  <dl>
    <dt><%= Profile.human_attribute_name(:name) %></dt>
    <dd><%= @product.profile.name %></dd>
    <dt><%= Profile.human_attribute_name(:cpf) %></dt>
    <dd><%= @product.profile.cpf %></dd>
    <dt><%= Profile.human_attribute_name(:date_of_birth) %></dt>
    <dd><%= l @product.profile.date_of_birth %></dd>
    <dt><%= Profile.human_attribute_name(:department) %></dt>
    <dd><%= @product.profile.department %></dd>
    <dt><%= Profile.human_attribute_name(:role) %></dt>
    <dd><%= @product.profile.role %></dd>
  </dl>
</div>

<h3>Descrição do produto</h3>
<div>
  <dl>
    <dt><%= Product.human_attribute_name(:category) %></dt>
    <dd><%= @product.category %></dd>
    <dt><%= Product.human_attribute_name(:name) %></dt>
    <dd><%= @product.name %></dd>
    <dt><%= Product.human_attribute_name(:description) %></dt>
    <dd><%= @product.description %></dd>
    <dt><%= Product.human_attribute_name(:price) %></dt>
    <dd><%= number_to_currency @product.price %></dd>
  </dl>
</div>

<h3>Dados do comprador</h3>
<h3></h3>
<div>
  <dl>
    <dt><%= Profile.human_attribute_name(:name) %></dt>
    <dd><%= @order.profile.name %></dd>
    <dt><%= Profile.human_attribute_name(:cpf) %></dt>
    <dd><%= @order.profile.cpf %></dd>
    <dt><%= Profile.human_attribute_name(:date_of_birth) %></dt>
    <dd><%= l @order.profile.date_of_birth %></dd>
    <dt><%= Profile.human_attribute_name(:department) %></dt>
    <dd><%= @order.profile.department %></dd>
    <dt><%= Product.human_attribute_name(:role) %></dt>
    <dd><%= @order.profile.role %></dd>
  </dl>
</div>
<div>
<span>Observação: </span>sp
  <%= @order.body %>
</div><br>
<strong>Chat</strong>
<div id="comment-product">
  <% @order.chats.each do |chat| %>
    <div class="ac_box_top">
      <div class="ac_box_cont">
        <%= "Usuário:  #{chat.profile.name}" %><br>
        <%=  chat.body %><br>
      </div>
    </div>  
  <% end %>
</div>
<div>
  <%= form_with model: [@order, @order.chats.build], local:true do |f| %>
    <div><%= f.label :body, 'Chat' %></div>
    <div><%= f.text_field :body %></div>
    <div><%= f.submit 'Enviar' %></div>
<% end %>
</div>


<%= link_to 'Voltar', my_products_path %>
